{% extends "base.html" %}

{% block content %}

    <h1 style= 'text-align: center'>Blogz</h1>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        {% for blog in blogs %}
        <div>
            <a class="title" style='color:black; font-size:25px; text-decoration:none;' href='/blog?id={{blog.id}}'><b>{{blog.title}}</b></a>
            <p>{{blog.body}}</p>
            <h4>Posted by:</h4><a href="blog?user={{blog.owner.username}}"><h4>{{blog.owner.username}}</h4>
        </div>
        <hr />
        {% endfor %}
    
    {% endif %}

{% endblock %}