{% extends "base.html" %}

{% block content %}

    <h1>Add a New Blog Post</h1>

    <form method='post' action='/newpost'>
            <label>
                <p>Title</p>
                <input type="text" name='title' value="{{ request.form['title'] }}" />
            </label>
            <div style='color:red; font-family:Courier New; 'class="error">{{ title_error }}</div>
            <label>
                <p>Body</p>
                    <textarea name="body" rows='15' cols='100' >{{ request.form['body'] }}</textarea>
            </label>
            <div style='color:red; font-family:Courier New;' class="error">{{ body_error }}</div>
            <div>
            <input class="submit" type="submit" value='Add Entry' />
            </div>
    </form>

{% endblock %}